*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui;
}

.title{
  text-align: center;
  font-size: 46px;
  padding: 20px 0;
}

.container{
  width: 1200px;
  margin: 0 auto;
}

.grid-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
}

.column img{
  width: 100%;
  margin: 10px 0;
  border-radius: 20px;
  filter: grayscale(1);
  transition: 250ms;

}

.column img:hover{
  width: 100%;
  margin: 10px 0;
  border-radius: 20px;
  filter: grayscale(0)
}