* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui;
}

.main {
  display: grid;
  height: 100vh;
  grid-template-rows: 70px 1fr;
  grid-template-columns: 200px 1fr;
  grid-template-areas:
    "header header"
    "sidebar content"
}

.header {
  grid-area: header;
  background: red;
}

.sidebar {
  grid-area: sidebar;
  background: blue;
}

.content {
  grid-area: content;
  background: gray;
}

@media screen and (max-width: 320px) {
 .main{
  grid-template-rows: 60px 1fr 60px;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header header"
    "content content"
    "sidebar sidebar"
 } 
}